    <div class="contenuhomepage mr-4">
      <div class="logohomepage mt-11 mb-8">
        <img src="{{asset('assets/images/logobeige.svg')}}" href="{{path('app_home')}}" alt="Logo Pok'Gourmet" width="70"/>
      </div>

      <div class="pokgourmet w-70 mb-4"
        <h1><span class="mb-5">Pok'Gourmet</span></h1>
        <h2> <span class="h2marron mb-6">Donnez vie à vos envies </span> </h2>
        <p class="pgourmet"> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, ut auctor lectus . At enim aucacilisis eget. Condimenpellentesque risus, tincidunt. Pro morbi tempor, curabitur neque quam convallis.</span> </p>
        <a href="#" class="bouttonVert h5menu mt-2">Découvrir</a>
      </div>
      
     {#  <img class="bouttonVert" href="#" src="{{asset('assets/images/svg-icones/image-footer2.svg')}}"/> #}

      <div class="offredelasemaine">
        <iframe class="videohompepage" src="https://www.youtube.com/embed/ez4zQr6CSnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="offre">
            <h4 class="h4vert mb-4">Offre de la semaine</h4>
            <p class="ptexte mb-2">Pok'Veggie </p>
            <p class="ptexte mb-2">7€</p>
            <a href="#" class="bouttonBeige h5menu">Acheter</a>
        </div>
      </div>
    </div>
  

<style>
.offredelasemaine{
      background-color: #ffffff;
    }

.pgourmet{
      font-size: 16px;
      font-weight: normal;
      color:  #ffffff;
      margin-left: 10%;
    }


  @media screen and (min-width:500px){
 .pgourmet{
      margin-left: 0%;
    }
   
  }
</style>
