<div class="astuce mx-0 mb-16 block1 text-center">
    <div class="block">
          <h2 class="h2blanc mb-4">Astuces éco</h2>
          <h3 class="h3vert mb-2">Réalisez des économies sur vos dépenses alimentaires</h3>
          <p class="ptexte mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, ut auctor lectus. At enim aucacilisis eget. Condimenpellentesque risus, tincidunt. Pro morbi tempor, curabitur neque quam convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, ut auctor lectus . Condimenpellentesque risus, tincidunt. Pro morbi tempor, curabitur neque quam convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, ut auctor lectus . 
          </p>
          <a href="#" class="bouttonVert h5menu">Découvrir toutes nos astuces</a>
    </div>
</div>

<style>
.astuce {
  background-image: linear-gradient(to top left, #62615C, #D79D66, #484526);
  background-size: 200% auto;
  animation: gradient 5s ease infinite;
  padding: 10% 10% 10% 15%;
  width: 100%;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media screen and (min-width:500px){
  .astuce {
  padding: 10%;
}
}
</style>